[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "doom-emacs"]
	path = doom-emacs
	url = https://github.com/hlissner/doom-emacs
